{% extends "base.html" %}

{% block title %}Edit Prompt{% endblock %}

{% block content %}
    <h1 class="text-3xl text-center underline">Edit System Prompt</h1>
    <form action="/" method="post">
        <textarea class="bg-gray-200 rounded-lg p-5" name="system_prompt" rows="30" cols="100">{{ current_prompt }}</textarea><br>
        <input class="mt-8 px-8 py-4 rounded-lg text-white text-lg bg-teal-600 hover:bg-teal-800 transition-all delay-200 cursor-pointer" type="submit" value="Save">
    </form>
{% endblock %}

{% set active_page = 'home' %}
