{% extends "base.html" %}

{% block title %}View Logs{% endblock %}

{% block content %}
<h1 class="text-3xl mb-5">View Logs</h1>
<form action="/view-logs" method="get">
    <label for="phone_number" class="block mb-2">Search by Phone Number:</label>
    <input type="text" id="phone_number" name="phone_number" value="{{ phone_number }}" placeholder="Enter phone number"
        class="bg-gray-200 rounded-lg p-2 mb-4">
    <button type="submit" class="px-4 py-2 bg-teal-600 text-white rounded-lg hover:bg-teal-800">Search</button>
</form>
<ul class="masonry mt-4">
    {% for log in logs %}
    <li class="masonry-item p-4 border rounded-lg flex flex-col gap-5 shadow-md px-10">
        <p><strong class="block">Phone Number:</strong> {{ log.phone_number }}</p>
        <strong class="min-w-fit mx-auto">History:</strong>
        {% for entry in log.history %}
        <div class="flex flex-col gap-2">
            <p><strong>Role:</strong> {{ entry.role }}</p>
            <p><strong>Content:</strong> {{ entry.content }}</p>
        </div>
        {% endfor %}
    </li>
    {% else %}
    <li>No logs found.</li>
    {% endfor %}
</ul>
{% endblock %}

{% set active_page = 'logs' %}